
.topnav {
  overflow: hidden;
  background-color: #333333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* buttons */
.button{
  border-radius: 5px 5px 5px;
  border-color:#3f3f3f;
  padding: 2%;
  font-family: 'Courier New', Courier, monospace;
  color: #ddd;
  background-color:#525151b2;
  font:bold;
   
}

.button2{
  border-radius: 5px 5px 5px;
  border-color:#777676;
  padding: 1%;
  color: #ddd;
  background-color:#777676b2;
  
   
}

.addChart{
  border-radius: 5px 5px 5px;
  border-color:rgba(0, 206, 209, 0.726);
  background-color:darkturquoise;
  color: #ddd;
  
   
}
/* ******************************* */

/* show & hide */

.show{
  display: none;
}

.dark-mode{
  background-color: black;
  color: white;
}

/* center */
.center{
  text-align: center;
}
/*************************/
.box{
  padding: 8px;
  border: 5px 5px 5px;
}



/* text in picture code */
/* .container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 40px;
  left: 350px;
}

.top-left {
  position: absolute;
  top: 40px;
  left: 350px;
}

.top-right {
  position: absolute;
  top: 40px;
  right: 350px;
}

.bottom-right {
  position: absolute;
  bottom: 40px;
  right: 350px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* ***************------------------- */

/* background change */

.gray{
  background-color: #a1a1a162;
  border-radius: 20px 20px 20px ;
}


/* **********************------ */